body {
  background-color: #d0d0d0;
	overflow: hidden;
}

a {
    color: black;

}

a:hover {
    text-decoration: none;
    color: black;
}

.jumbotron {
    background-color: #0ec30e;
    border-radius: 0px;
    transition: background-color 0.2s linear 0s;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*.jumbotron:hover {
    color: white;
    background-color: #0ec30e;
}*/
#title {
	color: white;
}
.greentxt {
    color: #0ec30e;
}

.light-bg-group {
    background-color: #f0f0f0;
}

.dark-bg-group {
    background-color: #dddddd;
}

.btn-success {
    background-color: #0ec30e;
}
.container {
	width: 600px;
	height: 600px;
	background-color: white;
  border-radius: 20px;
}
.para {
	border-bottom-style: dashed;
}
h2, h3 {
	margin: 8px
}
#media-title {
  padding: 20px;
  text-align: center;
}
#accounts {
    height: 100vh;
}
