body {
	background-color: #d0d0d0;
	overflow: hidden;
}

a {
    color: black;

}

.jumbotron {
    background-color: darkblue;
    border-radius: 0px;
    transition: background-color 0.2s linear 0s;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*.jumbotron:hover {
    color: white;
    background-color: #0ec30e;
}*/
#title {
	color: white;
}
.greentxt {
    color: #0ec30e;
}

.light-bg-group {
    background-color: #f0f0f0;
}

.dark-bg-group {
    background-color: #dddddd;
}

.btn-success {
    background-color: #0ec30e;
}
.container {
	width: 600px;
	height: 450px;
	background-color: white;
	border-radius: 15px;
	box-shadow: -2px 2px 20px 0px #828282e0;
}
.para {
	border-bottom-style: dashed;
}
h2, h3 {
	margin: 8px;
	padding: 20px;
}
a:hover {
	color: #4f88e3;
  text-decoration: none;
}
#media-title {
	padding: 20px;
	text-align: center;
}
#accounts {
    height: 100vh;
}
.logo {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#ungconnect {
  background-image: url("http://faculty.ung.edu/DJSpence/NSF/UNG_SteepleMark.png");
}
#github {
  background-image: url("https://image.flaticon.com/icons/png/512/25/25231.png");
}
#groupme {
  background-image: url("https://d3sq5bmi4w5uj1.cloudfront.net/images/brochure/og_image_poundie.png?1548793104");
}
#discord {
  background-image: url("https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/discord-512.png");
}
